@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Fuzzy Bubbles, sans-serif;
    font-weight: 400;
    color: rgba(3, 20, 41, 0.7);
}

/* headings and logo */

h1, h2 {
    font-family: Rubik Vinyl, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgba(2, 13, 26, 0.7);
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid  rgba(2, 13, 26, 0.7);
}

.active {
    border-bottom: 1px solid  rgba(2, 13, 26, 0.7);
}

/* hero image and about us */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hideen;
}

#hero-image {
    height: 600px;
    width: 50%;
    background: url(../images/hero-image.jpg) no-repeat left center;
    display: inline-block;

/* Animate zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Create the level of zoom for hero-image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#about-us {
    height: 600px;
    width: 40%;
    display: inline-block;
    float: right;
    margin-right: 37px;
    line-height: 1.5;
}

/* testimonials */

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    width: 95%;
    margin: 0 auto;
  }
  
  .testimonials-heading {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .testimonial {
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(2, 13, 26, 0.7);
    padding: 20px;
  }
  
  .testimonial p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .testimonial cite {
    display: block;
    text-align: right;
    font-style: italic;
  }
  